@using BookWorm.Helpers
@model PagedList.IPagedList<BookWorm.Models.Author>

@{
    ViewBag.Title = "Authors";
    ViewBag.NoIndex = true;
}

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">@ViewBag.Title</p>
            
        </div>
    </div>
</div>
<div class="row gray-body-row">
<div class="row-content">
    <div class="span12">
        <p>
            @if (Html.ViewContext.HttpContext.User.IsInRole(BookWorm.Models.Roles.Admin))
            {
                @Html.ActionLink("Create New", "Create")
            }
        </p>
        <div class="row-fluid">
            <div class="row-content">
                <div class="span12">
                    @if (Model.Any())
                    {
                        <div class="row-fluid">
                            <div class="span8 news">
                                @foreach (var author in Model)
                                {
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <img class="featured-post-image" src="@author.PictureUrl" />
                                        </div>
                                        <div class="span7">
                                            <p class="lead">@author.Name</p>
                                            <p>@Html.Raw(MarkDownHelper.Summary(author.Biography, 350))</p>
                                            <a href="~/authors/@author.Id">Read more</a>
                                        </div>
                                    </div>
                                    <div class="some-small-space"><hr /></div>
                                }
                            </div>
                        </div>
                    }
           
                </div>
            </div>
        </div>
    </div>
</div>