@using BookWorm.Helpers
@using BookWorm.Models
@model BookWorm.ViewModels.PostInformation

@{
    ViewBag.Title = "PUKU | Add a Post";
}

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">Add Post</p>
            <div>Fill in the required fields and click Add</div>
            <div class="some-small-space"></div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <div class="editor-label">
                        Title*
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Model.Title)
                        @Html.ValidationMessageFor(model => model.Model.Title)
                    </div>
                     <div class="editor-label">
                        Featured Image*
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Model.FeaturedImage)
                        @Html.ValidationMessageFor(model => model.Model.FeaturedImage)
                    </div>
                    <div class="editor-label">
                        Post Type*
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Model.Type, EnumHelper.ValidEnumOptions<Post.PostType>(), "Select type")
                        @Html.ValidationMessageFor(model => model.Model.Type)
                    </div>
                    <div class="editor-label">
                        Content*
                    </div>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Model.Content, new Dictionary<string, object>() {{"id", "wmd-input"}, {"class", "wmd-input"}})
                            @Html.ValidationMessageFor(model => model.Model.Content)
                        </div>
        
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>

                    <p>
                        <input type="submit" value="Save and Publish" class="btn" id="SaveButton"/>
                    </p>
                </fieldset>

                <script type="text/javascript">
                    (function() {
                        var converter = Markdown.getSanitizingConverter();
                        var editor = new Markdown.Editor(converter);
                        editor.run();
                    })();
                </script>
            }

            <div>
                @Html.ActionLink("Back to List", "List")
            </div>

        </div>
    </div>
</div>
