@Scripts.Render("~/Scripts/puku/confirmModal.js")
@Scripts.Render("~/Scripts/puku/clickableDiv.js")

@using BookWorm.Helpers
@using BookWorm.Models
@using BookWorm.ViewModels
@using PagedList.Mvc
@using Roles = BookWorm.Models.Roles
@model PagedList.IPagedList<IBasePostInformation>
@{
    ViewBag.Title = "PUKU | News and Events";
    ViewBag.NoIndex = true;
}

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            @{
                var viewingPublishedPosts = Request.Params["excludeDraft"] == null || Convert.ToBoolean(Request.Params["excludeDraft"]);
                var leadTitle = "Latest News and Events";
                var linkTitle = "Draft News and Events";
                var linkParameter = new {excludeDraft = false};
                if (!viewingPublishedPosts)
                {
                    leadTitle = "Draft News and Events";
                    linkTitle = "Latest News and Events";
                    linkParameter = null;
                }
                
                <p class="lead">@leadTitle</p>
                <p>
                    @if (Html.ViewContext.HttpContext.User.IsInRoles(Roles.Admin, Roles.Author))
                    {
                        @Html.ActionLink("Create New", "Create", null, new { Id = "createNewPostLink" })
                        @Html.Raw(" | ")
                        @Html.ActionLink(linkTitle, "News", "Posts", linkParameter, new { Id = "ViewOtherPostTypeLink" })
                    }
                </p>
            }
        </div>
    </div>
</div
<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
        @if (Model.Any())
        {
            <div class="row-fluid">
                <div class="span8 news">
                    @foreach (var post in Model.Take(4))
                    {
                        <div class="row-fluid">
                            @Html.Partial("PostNews", post)
                        </div>
                        <div class="some-small-space"><hr /></div>
                    }
                </div>
                <div class="span4 gray-body-row news">
                    <ul class="no-list-style">
                        @foreach (var post in Model.Skip(4).Take(5))
                        {
                            <li>
                                <p class="lead">
                                    @if (post is BookPostInformation)
                                    {
                                        <i class="icon-book"></i>
                                    }
                                    @post.Model.Title
                                </p>@Html.Raw(post.Summary(100))<a href="@post.DetailsUrl">Read more</a><hr />
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
           
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <center>@Html.PagedListPager( Model, page => Url.Action("News", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast )</center>
    </div>
</div>

