@Scripts.Render("~/Scripts/puku/confirmModal.js")
@Scripts.Render("~/Scripts/puku/clickableDiv.js")

@using BookWorm.Models
@using BookWorm.ViewModels
@using PagedList.Mvc
@model PagedList.IPagedList<IBasePostInformation>


<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">Posts</p>
            <p>
                @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
 @Html.ActionLink("Create New", "Create", null, new { Id = "createNewPostLink" })
                }
            </p>
        </div>
    </div>
</div>
<div class="row-fluid gray-body-row">
    <div class="row-content">
        <div class="span12">
            @foreach (var item in Model)
            {

                <div class="row link-row">
                    <div data-clickable-url="@item.DetailsUrl">
                        <div class="span10">
                            <h4>@Html.DisplayFor(modelItem => item.Model.Title)</h4>
                            <span>@Html.Raw(item.Summary(400))</span>
                        </div>
                    </div>
                </div>

                <div class="list-seperator"></div>
            }
            @Html.PagedListPager( Model, page => Url.Action("News", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast )
        </div>
    </div>
</div>

