@model BookWorm.Models.StaticPage

<li>
    <h3>@Html.ActionLink(@Html.DisplayFor(x => x.Title).ToHtmlString(), "Details", new { id = @Model.Id })</h3>>@Html.ActionLink("Edit", "Edit", new { id = @Model.Id }) @Html.ActionLink("Delete", "Delete", new { id = @Model.Id })
</li>