@model BookWorm.Models.StaticPage

@{
    ViewBag.Title = "PUKU | Add a Page";
}

<h2>Add Page</h2>
<div>Fill in the required fields and click Add</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StaticPage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Content, new Dictionary<string, object>() {{"id", "wmd-input"}, {"class", "wmd-input"}})
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        
            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        </div>

        <p>
            <input type="submit" value="Add" id="SaveButton"/>
        </p>
    </fieldset>

    <script type="text/javascript">
        (function() {
            var converter = Markdown.getSanitizingConverter();
            var editor = new Markdown.Editor(converter);
            editor.run();
        })();
    </script>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
