@model BookWorm.ViewModels.StaticPageInformation

@{
    ViewBag.Title = "PUKU | Add a Page";
}

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">Add Page</p>
            <div>Fill in the required fields and click Add</div>
            <div class="some-small-space"></div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Model.Title)
                        @Html.ValidationMessageFor(model => model.Model.Title)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Model.Content)
                    </div>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Model.Content, new Dictionary<string, object>() {{"id", "wmd-input"}, {"class", "wmd-input"}})
                            @Html.ValidationMessageFor(model => model.Model.Content)
                        </div>
        
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>
                    <div>
                        @Html.CheckBoxFor(model => model.Model.IsDraft, new Dictionary<string, object>() {{"id", "IsDraft"}})
                    </div>

                    <p>
                        <input type="submit" value="Save and Publish" class="btn" id="SaveButton"/>
                        <input type="submit" value="Save as Draft" class="btn" id="SaveAsDraftButton"/>
                    </p>
                </fieldset>

                <script type="text/javascript">
                    $(document).ready(function() {
                        var converter = Markdown.getSanitizingConverter();
                        var editor = new Markdown.Editor(converter);
                        editor.run();

                        $('#IsDraft').hide();

                        $('#SaveAsDraftButton').click(function () {
                            $('#IsDraft').show();
                            $('#IsDraft').attr('checked', true);
                            $('#IsDraft').hide();
                        });
                        
                        $('#SaveButton').click(function () {
                            $('#IsDraft').show();
                            $('#IsDraft').attr('checked', false);
                            $('#IsDraft').hide();
                        });
                    })
                </script>
            }

            <div>
                @Html.ActionLink("Back to List", "List")
            </div>

        </div>
    </div>
</div>
