@model BookWorm.Models.StaticPage

@{
    ViewBag.Title = @Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <legend>StaticPage</legend>
    <hr />
    <div class="display-field">
        @Html.Raw(ViewBag.transformedContent)
    </div>
</fieldset>
<p>
    
    @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
        @Html.Raw(" |")
    }
    @Html.ActionLink("Back to List", "List")
</p>
