@model BookWorm.ViewModels.StaticPageInformation

@{
    ViewBag.Title = "Edit";
}
<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">Update Page</p>
            <div>Fill in the required fields and click save changes</div>
            <div class="some-small-space"></div>
            @using (Html.BeginForm())
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Model.Id)

                <fieldset>
                        
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Model.Title)
                        @Html.ValidationMessageFor(model => model.Model.Title)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Model.Content)
                    </div>
                    @Html.Partial("_MarkDownHelp")
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Model.Content, new Dictionary<string, object>() {{"id", "wmd-input"}, {"class", "wmd-input"}})
                            @Html.ValidationMessageFor(model => model.Model.Content)
                        </div>
        
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>
                    <div>
                        @Html.HiddenFor(model => model.Model.Creator)
                    </div>
                    <p>
                        <input type="submit" class="btn" value="Save Changes" />
                    </p>
                </fieldset>

                <script type="text/javascript">
                    (function() {
                        var converter = Markdown.getSanitizingConverter();
                        var editor = new Markdown.Editor(converter);
                        editor.run();
                    })();
                </script>
            }

            <div>
                @Html.ActionLink("Back to List", "List")
            </div>

        </div>
    </div>
</div>
