@using BookWorm.Models
@model IEnumerable<BookWorm.Models.StaticPage>

<h2>Pages</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {Id = "createNewStaticPageLink"})
</p>
    @foreach (StaticPage item in Model)
    {
        <a href="/Pages/Details/@item.Id">
            <div class="row">
                      <div class="span8">
                          <span class="lead">@Html.DisplayFor(modelItem => item.Title)</span>
                      </div>
                      <div class="span1">
                          @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                      </div>
                      <div class="span1">
                          @Html.ActionLink("Details", "Details", new {id = item.Id}) 
                      </div>
                      <div class="span1">
                          @using (Html.BeginForm("Delete", "Books", new {@id = item.Id}))
                          {
                              @Html.HttpMethodOverride(HttpVerbs.Delete)
                              <input type="submit" class="btn btn-danger" value="Delete" />
                          }
                      </div>
                  </div>
        </a>
        <hr />
    
    }
