@Scripts.Render("~/Scripts/puku/confirmModal.js")
@model BookWorm.ViewModels.BookPostInformation

<h2>Details</h2>

<fieldset>
    <legend>BookPost</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookPost.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookPost.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookPost.Content)
    </div>
    <div class="display-field">
        @Html.Raw(ViewBag.transformedContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookPost.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookPost.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookPost.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookPost.UpdatedAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { bookId=Model.BookId, id=Model.BookPost.Id }) |
    <div class="span1">
        @using (Html.BeginForm("Delete", "BookPosts", new { @bookId = Model.BookId, @id = Model.BookPost.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <input type="submit" class="btn btn-danger" value="x" data-confirm="This action can not be undone. Are you sure you want to delete this book post?" />
        }
    </div>
    @Html.ActionLink("Back to List", "Details", "Books", new { id = Model.BookId }, null)
</p>
