@model BookWorm.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword)
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword)
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    <div class="some-small-space"></div>
    <input type="submit" class="btn" value="Change password" />
    <div class="some-small-space"></div>
}
