@using BookWorm.Models.Validations
@model BookWorm.ViewModels.UserInformation

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">@ViewBag.Title</p>
        </div>
    </div>
</div>

<div class="row-fluid gray-body-row">
    <div class="row-content">
        <div class="span12">

            Fill in the required fields and click save.
            <div class="some-small-space"></div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                if (ViewBag.Method != null && ViewBag.Method == "PUT")
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                }
                <fieldset>
      
                    <div class="row-fluid">
                        <div class="span2 ">
                            Username*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.UserName, new { placeholder = "Username"})
                            @Html.ValidationMessageFor(model => model.Model.UserName)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            Password*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Password, new { placeholder = "Password"})
                            @Html.ValidationMessageFor(model => model.Model.Password)
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span2">
                            Confirm Password*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.ConfirmPassword, new { placeholder = "Confirm Password"})
                            @Html.ValidationMessageFor(model => model.Model.ConfirmPassword)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Role *
                        </div>
                        <div class="span10">
                            @Html.DropDownListFor(
                                model => model.Model.Role, 
                                new SelectList(Model.ValidRoles()),
                                "Select Role")
                            @Html.ValidationMessageFor(model => model.Model.Role)
                        </div>
                    </div>
                    <p>
                        <input type="submit" value="Save" class="btn" id="SaveButton" />
                    </p>
                </fieldset>
            }

        </div>
        <div>
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
</div>