@model IEnumerable<BookWorm.ViewModels.BookPostInformation>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookPost.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPost.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPost.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPost.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPost.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookPost.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPost.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPost.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPost.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPost.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "BookPosts", new { bookId=item.BookId, id=item.BookPost.Id }, null)
        </td>
    </tr>
}

</table>
