@model IEnumerable<BookWorm.ViewModels.BookPostInformation>
<div class="accordion-group" >
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#posts-accordion" href="#@Model.First().BookPost.Type">
            @Model.First().BookPost.Type
        </a>
    </div>
    <div id="@Model.First().BookPost.Type" class="accordion-body collapse">
        <div class="accordion-inner">
            @foreach (var item in Model) {
                <span class="lead">
                    @Html.DisplayFor(modelItem => item.BookPost.Title)
                </span>
                <p>
                    @Html.Raw(item.Summary(350))
                    ...
                </p>
                @Html.ActionLink("View this review", "Details", "BookPosts", new { bookId=item.BookId, id=item.BookPost.Id }, null)
            }
        </div>
    </div>
</div>


