@model BookWorm.ViewModels.BookInformation

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Book</legend>
    <div class="row">
        <div class="span8">
            <div class="lead">
                @Html.DisplayFor(model => model.Book.Subtitle) 
            </div>
            by <strong>@Html.DisplayFor(model => model.Book.Author)</strong>
            <hr />
            <p>ISBN: <em>@Html.DisplayFor(model => model.Book.Isbn)</em></p>
            <p>Publisher: <em>@Html.DisplayFor(model => model.Book.Publisher)</em></p>
            <p>Illustrator: <em>@Html.DisplayFor(model => model.Book.Illustrator)</em></p>
            <p>Editor: <em>@Html.DisplayFor(model => model.Book.Editor)</em></p>
            <p>Language: <em>@Html.DisplayFor(model => model.Book.Language)</em></p>
            <p>Genre: <em>@Html.DisplayFor(model => model.Book.Genre)</em></p>
            <p>Age Group: <em>@Html.DisplayFor(model => model.Book.RecommendedAgeGroup)</em></p>
            <p>Country: <em>@Html.DisplayFor(model => model.Book.Country)</em></p>
            <p>Description: <em>@Html.DisplayFor(model => model.Book.Description)</em></p>
        </div>
        <div class="span4">
            <img src="@Model.Book.CoverImageUrl" />
        </div>
    </div>
   <p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Book.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
  
</fieldset>

