@model BookWorm.ViewModels.BookInformation

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Subtitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Subtitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Illustrator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Illustrator)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Editor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Editor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Isbn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Isbn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Publisher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Publisher)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Language)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Language)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Genre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Genre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.RecommendedAgeGroup)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.RecommendedAgeGroup)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.CoverImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.CoverImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Book.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
