@using BookWorm.Models.Validations
@model BookWorm.ViewModels.FilterInformation
 @Scripts.Render("~/Scripts/puku/clickableDiv.js")

<div id="filter">
    <div class="filter-header">
        <strong>Languages</strong>
    </div>
    @foreach (var language in ValidLanguage.ValidLanguages)
    {
        <div data-clickable-url=@Model.LanguageFilterUrl(language)>
            <input type="checkbox" @Html.Raw(Model.Languages.Contains(language) ? "checked=\"checked\"" : "")/>
            <span>@language</span>
        </div>
    }
    <div class="filter-header">
        <strong>Ages</strong>
    </div>
    @foreach (var ageRange in ValidAgeRange.ValidAgeRanges)
    {
        
        <div data-clickable-url=@Model.AgeRangeFilterUrl(ageRange)>
            <input type="checkbox" @Html.Raw(Model.AgeRanges.Contains(ageRange) ? "checked=\"checked\"" : "")/>
            <span>@ageRange</span>
        </div>
    }
    <div class="filter-header">
        <strong>Genres</strong>
    </div>
    @foreach (var genre in ValidGenre.ValidGenres)
    {
        
        <div data-clickable-url=@Model.GenreFilterUrl(genre)>
            <input type="checkbox" @Html.Raw(Model.Genres.Contains(genre) ? "checked=\"checked\"" : "")/>
            <span>@genre</span>
        </div>
    }
</div>