@using BookWorm.Models.Validations
@model BookWorm.ViewModels.BookInformation

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">@ViewBag.Title</p>
        </div>
    </div>
</div>

<div class="row-fluid gray-body-row">
    <div class="row-content">
        <div class="span12">

            Fill in the required fields and click save.
            <div class="some-small-space"></div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                if (ViewBag.Method != null && ViewBag.Method == "PUT")
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    @Html.HiddenFor(model => model.Model.Id)
                }
                <fieldset>
      
                    <div class="row-fluid">
                        <div class="span2 ">
                            Title*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Title, new { placeholder = "Book Title"})
                            @Html.ValidationMessageFor(model => model.Model.Title)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            Subtitle
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Subtitle, new { placeholder = "Sub Title"})
                            @Html.ValidationMessageFor(model => model.Model.Subtitle)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Author*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Author, new { placeholder = "Author"})
                            @Html.ValidationMessageFor(model => model.Model.Author)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            Illustrator
                        </div>
                        <div class="span5">
                            @Html.TextBoxFor(model => model.Model.Illustrator, new { placeholder = "Illustrator"})<br/>
                            @Html.ValidationMessageFor(model => model.Model.Illustrator)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            Editor
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Editor, new { placeholder = "Editor"})
                            @Html.ValidationMessageFor(model => model.Model.Editor)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            ISBN*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Isbn, new { placeholder = "Book ISBN"})
                            @Html.ValidationMessageFor(model => model.Model.Isbn)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Publisher*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.Publisher, new { placeholder = "Publisher"})
                            @Html.ValidationMessageFor(model => model.Model.Publisher)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Language*
                        </div>
                        <div class="span10">
                            @Html.DropDownListFor(
                                model => model.Model.Language, 
                                Model.ValidLanguages(),
                                "Select Language")
                            @Html.ValidationMessageFor(model => model.Model.Language)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Genre*
                        </div>
                        <div class="span10">
                            @Html.DropDownListFor(
                                model => model.Model.Genre, 
                                Model.ValidGenres(),
                                "Select Genre")
                            @Html.ValidationMessageFor(model => model.Model.Genre)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Age Range*
                        </div>
                        <div class="span10">
                            @Html.DropDownListFor(
                                model => model.Model.AgeRange, 
                                Model.ValidAgeGroups(),
                                "Select Age Range"
                                 )
                            @Html.ValidationMessageFor(model => model.Model.AgeRange)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2 ">
                            Country*
                        </div>
                        <div class="span10">
                            @Html.DropDownListFor(
                                model => model.Model.Country,
                                Model.ValidCountries(), 
                                "Select Country"
                                 )
                            @Html.ValidationMessageFor(model => model.Model.Country)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            Cover Image URL
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.CoverImageUrl, new { placeholder = "URL to Cover"})
                            @Html.ValidationMessageFor(model => model.Model.CoverImageUrl)
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            Description
                        </div>
                        <div class="span10">
                            @Html.TextAreaFor(model => model.Model.Description, new { placeholder = "Book Description"})
                            @Html.ValidationMessageFor(model => model.Model.Description)
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span2">
                            Buy Book Here
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Model.BuyBookUrl, new { placeholder = "URL or contact to buy Book"})
                            @Html.ValidationMessageFor(model => model.Model.BuyBookUrl)
                        </div>
                    </div>
                    <p>
                        <input type="submit" value="Save" class="btn" id="SaveButton" />
                    </p>
                </fieldset>
            }

        </div>
        <div>
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
</div>