 @Scripts.Render("~/Scripts/puku/clickableDiv.js")

@model BookWorm.ViewModels.FilterInformation

<h2>@ViewBag.Title</h2>

 @if (TempData["flashNotice"] != null && !TempData["flashNotice"].ToString().IsEmpty())
{
    <div><i class="icon-inbox"></i> @TempData["flashNotice"]</div>
    <div class="some-space"><center><quote class="lead">“A room without books is like a body without a soul.” 
    <span style="font-size: small">― Marcus Tullius Cicero</span></quote></center></div>
}
<p> 
    @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", null, new {id = "createNewBookLink"})
    }
</p>
    @foreach (var item in Model.BookInformations)
    {
        
        <div class="row link-row">
            <div id="clickable-div" data-clickable-url="/Books/Details/@item.Book.Id">
                <div class="span8">
                <span class="lead">@Html.DisplayFor(modelItem => item.Book.Title)</span>
                by
                @Html.DisplayFor(modelItem => item.Book.Author)
            </div>
                <div class="span4">
                    <span class="label label-info">
                        <i class="icon-globe"></i> @item.Book.Language
                    </span>
                    <span class="label">
                        <i class="icon-tag"></i> @item.Book.Genre
                    </span>
                    <span class="label label-success">
                        <i class="icon-user"></i> @item.Book.AgeRange years
                    </span>
                </div>
            </div>
           
        </div>
             
       <div class="list-seperator"></div>
       
    }
