@model IEnumerable<BookWorm.ViewModels.BookInformation>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new{id="createNewBookLink"})
</p>
<table class="striped-table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="lead">@Html.DisplayFor(modelItem => item.Book.Title)</span>
                by
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                <div class="row-fluid">
                    <div class="span3">
                        @Html.ActionLink("Edit", "Edit", new {id = item.Book.Id}) |
                    </div>
                    <div class="span4">
                        @Html.ActionLink("Details", "Details", new {id = item.Book.Id}) 
                    </div>
                    <div class="span4">
                         @using (Html.BeginForm("Delete", "Books", new {@id = item.Book.Id}))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <input type="submit" class="btn" value="Delete" />
                        }
                    </div>
                </div>
            </td>
        </tr>
    }

</table>