@model IEnumerable<BookWorm.ViewModels.BookInformation>

<h2>@ViewBag.Title</h2>

 @if (TempData["flashNotice"] != null && !TempData["flashNotice"].ToString().IsEmpty())
{
    <div><i class="icon-inbox"></i> @TempData["flashNotice"]</div>
    <div class="some-space"><center><quote class="lead">“A room without books is like a body without a soul.” 
    <span style="font-size: small">― Marcus Tullius Cicero</span></quote></center></div>
}
<p>
    @Html.ActionLink("Create New", "Create", null, new{id="createNewBookLink"})
</p>
    @foreach (var item in Model)
    {
        
        <div class="row link-row">
            <div id="clickable-row"  onclick="window.location.href = '/Books/Details/@item.Book.Id'">
                <div class="span6">
                <span class="lead">@Html.DisplayFor(modelItem => item.Book.Title)</span>
                by
                @Html.DisplayFor(modelItem => item.Book.Author)
            </div>
                <div class="span4">
                    <span class="label label-info">
                        <i class="icon-globe"></i> @item.Book.Language
                    </span>
                    <span class="label">
                        <i class="icon-tag"></i> @item.Book.Genre
                    </span>
                    <span class="label label-success">
                        <i class="icon-user"></i> @item.Book.AgeRange years
                    </span>
                </div>
            </div>
            <div class="span2">
                <div class="row-fluid">
                    <div class="span3">
                        @Html.ActionLink("Edit", "Edit", new {id = item.Book.Id}) 
                        
                    </div>
                    <div class="span4">
                        @Html.ActionLink("Details", "Details", new {id = item.Book.Id}) 
                        
                    </div>
                    <div class="span4">
                        @using (Html.BeginForm("Delete", "Books", new {@id = item.Book.Id}))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <input type="submit" class="btn btn-danger" value="X" onclick="return confirm('This action can not be undone. Are you sure you want to delete this book?');"/>
                        }
                    </div>
                </div>
            </div>
        </div>
             
       <div class="list-seperator"></div>
       
    }
