@model IEnumerable<BookWorm.ViewModels.BookInformation>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new{id="createNewBookLink"})
</p>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="span8">
                <span class="lead">@Html.DisplayFor(modelItem => item.Book.Title)</span>
                by
                @Html.DisplayFor(modelItem => item.Book.Author)
            </div>
            <div class="span1">
                @Html.ActionLink("Edit", "Edit", new {id = item.Book.Id}) |
            </div>
            <div class="span1">
                @Html.ActionLink("Details", "Details", new {id = item.Book.Id}) 
            </div>
            <div class="span1">
                @using (Html.BeginForm("Delete", "Books", new {@id = item.Book.Id}))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <input type="submit" class="btn btn-danger" value="Delete" />
                }
            </div>
        </div>
        <hr />
    }
