@model BookWorm.Models.Author

<div class="row-fluid">
    <div class="row-content">
        <div class="span12">
            <p class="lead">@ViewBag.Title</p>
        </div>
    </div>
</div>

<div class="row-fluid gray-body-row">
    <div class="row-content">
        <div class="span12">

            Fill in the required fields and click save.
            <div class="some-small-space"></div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                if (ViewBag.Method != null && ViewBag.Method == "PUT")
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    @Html.HiddenFor(model => model.Id)
                }
                <fieldset>
      
                    <div class="row-fluid">
                        <div class="span2 ">
                            Name*
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.Name, new { placeholder = "Name"})
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span2">
                            Picture URL
                        </div>
                        <div class="span10">
                            @Html.TextBoxFor(model => model.PictureUrl, new { placeholder = "URL to Picture"})
                            @Html.ValidationMessageFor(model => model.PictureUrl)
                        </div>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Biography)
                    </div>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Biography, new Dictionary<string, object>() {{"id", "wmd-input"}, {"class", "wmd-input"}})
                            @Html.ValidationMessageFor(model => model.Biography)
                        </div>
        
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>
                       
                    <p>
                        <input type="submit" value="Save" class="btn" id="SaveButton" />
                    </p>
                </fieldset>
                <script type="text/javascript">
                    (function() {
                        var converter = Markdown.getSanitizingConverter();
                        var editor = new Markdown.Editor(converter);
                        editor.run();
                    })();
                </script>
            }

        </div>
        <div>
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
</div>