@using BookWorm.Models
@using BookWorm.ViewModels
@{
    ViewBag.Title = "PUKU | Home";
}
<script type="text/javascript">
    $(document).ready(function() {
        toggleDiscoveryMenu();
    });
</script>
<h2>What is PUKU</h2>
<p>All you need to know about children's literature from southern Africa and beyond! Find books for your children, students or
    friends. Read reviews, find literary informationn. </p>

<p>Your source for daily 
    children's book news from around the world. @{
                                                    var staticPages = ((List<StaticPage>) ViewBag.StaticPages);
                                                }
    @if (staticPages.Any())
    {
        <li>@Html.ActionLink(staticPages.First().Title, "Details", "Pages", new {id = staticPages.First().Id,}, null)</li>
    }</p>
<div id="lastest-books">
    <h3>Latest Books</h3>
    <div class="span10">
        <ol>
            @foreach (var bookInformation in (List<BookInformation>) ViewBag.bookInformations)
            {
                <li>
                    <div id="clickable-div" data-clickable-url="/Books/Details/@bookInformation.Book.Id">
               
                        <div class="book-cover">
                            @if (@Html.DisplayFor(model => bookInformation.Book.CoverImageUrl) != null && !@Html.DisplayFor(model => bookInformation.Book.CoverImageUrl).ToString().IsEmpty())
                            {
                                <img class="book-image" src="@bookInformation.Book.CoverImageUrl"/>
                            }
                            else
                            {
                                <div class="book-image default-cover-image">
                                    <div class="default-cover-info">
                                        <h4>@bookInformation.Book.Title</h4>
                                        @Html.DisplayFor(model => bookInformation.Book.Author)
                                    </div>
                                </div>
                            }
                            <div class="book-cover-hover-info">
                                <div class="book-cover-info-wrapper">
                                    <strong>@bookInformation.Book.Title</strong><br />
                                    @Html.DisplayFor(model => bookInformation.Book.Author)
                                </div>
                            </div>
                            <div class="row-fluid book-cover-info">
                                <div class="span4 label-age-range">
                                    @Html.DisplayFor(model => bookInformation.Book.AgeRange) years
                                </div>
                                <div class="span4 label-language">
                                    @Html.DisplayFor(model => bookInformation.Book.Language)
                                </div>
                                <div class="span4 label-genre">
                                    @Html.DisplayFor(model => bookInformation.Book.Genre)
                                </div>
                           
                            </div>
                        </div>
                    </div>  
                </li>
            }
        </ol>
    </div>
</div>