@Scripts.Render("~/Scripts/puku/clickableDiv.js")

@using BookWorm.Models
@using BookWorm.ViewModels
@{
    ViewBag.Title = "PUKU | Home";
}

<div class="row-fluid">
    <div class="row-content">
        <div class="span7">
            <p class="lead">What is PUKU</p>
        </div>
        <div class="span5 pull-right">
            <div class="fb-follow" data-href="https://www.facebook.com/pages/PUKUcoza/160395213058?fref=ts" data-show-faces="false" data-width="450"></div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>All you need to know about children's literature from southern Africa and beyond! Find books for your children, students or
                friends. Read reviews, find literary information. Your source for daily 
                children's book news from around the world.</p> @{
                                                                    var staticPages = ((List<StaticPage>) ViewBag.StaticPages);
                                                                }
            @if (staticPages.Any())
            {
                <ul  class="no-list-style">
                    <li>@Html.ActionLink("Read more about us", "Details", "Pages", new {id = staticPages.First().Id,}, null)</li>
                </ul>
            }
            <div class="some-small-space"></div>
            </div>
        </div>
            
    </div>
<div class="row-fluid gray-body-row">
    <div class="row-content">
        <div class="span12">
            <div class="row-fluid">
                <div class="span10">
                    <p class="lead">Latest Books</p>
                </div>
                <div class="span2">
                    <i class="icon-th"></i> @Html.ActionLink("All Books", "List", "Books", null, new { id = "BooksMenuLink" })
                </div>
            </div>
            <div id="news">
                @foreach (var post in (List<PostInformation>) ViewBag.PostInformations)
                {
                    <div>
                        @post.Model.Title
                    </div>
                }
                @foreach (var post in (List<BookPostInformation>) ViewBag.BookPostInformations)
                {
                    <div>
                        @post.Model.Title
                    </div>
                }
            </div>
            <div id="lastest-books">
                <ol>
                    @foreach (var bookInformation in (List<BookInformation>) ViewBag.BookInformations)
                    {
                        <li>
                            <div id="clickable-div" data-clickable-url="/Books/Details/@bookInformation.Book.Id">
               
                                <div class="book-cover">
                                    @if (@Html.DisplayFor(model => bookInformation.Book.CoverImageUrl) != null && !@Html.DisplayFor(model => bookInformation.Book.CoverImageUrl).ToString().IsEmpty())
                                    {
                                        <img class="book-image" src="@bookInformation.Book.CoverImageUrl"/>
                                    }
                                    else
                                    {
                                        <div class="book-image default-cover-image">
                                            <div class="default-cover-info">
                                                <h4>@bookInformation.Book.Title</h4>
                                                @Html.DisplayFor(model => bookInformation.Book.Author)
                                            </div>
                                        </div>
                                    }
                                    <div class="book-cover-hover-info">
                                        <div class="book-cover-info-wrapper">
                                            <strong>@bookInformation.Book.Title</strong><br />
                                            @Html.DisplayFor(model => bookInformation.Book.Author)
                                        </div>
                                    </div>
                                    <div class="row-fluid book-cover-info">
                                        <div class="span4 label-age-range">
                                            @Html.DisplayFor(model => bookInformation.Book.AgeRange) years
                                        </div>
                                        <div class="span4 label-language">
                                            @Html.DisplayFor(model => bookInformation.Book.Language)
                                        </div>
                                        <div class="span4 label-genre">
                                            @Html.DisplayFor(model => bookInformation.Book.Genre)
                                        </div>
                           
                                    </div>
                                </div>
                            </div>  
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
