<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/markdown")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="row">
                <div class="span5">
                    <div class="row-fluid hand-cursor" onclick="window.location.href = '/'">
                        <div class="span3">
                            <img src="/Images/logo.jpg" alt="PUKU Logo" />
                        </div>
                        <div class="span9">
                            <h1>PUKU</h1>
                            Childrens Literature in Southern Africa
                       
                        </div>
                    </div>
                </div>
                <div class="span7">
                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Books", "List", "Books", null, new { id = "BooksMenuLink" })</li>
                                <li><a href="#" onclick="toggleDiscoveryMenu()">Search</a></li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Pages", "List", "Pages", null, new { id = "PagesMenuLink" })</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div id="discovery_menu" style="display: none;">
                    <div class="row">
                        <div class="span5">
                            <span class="lead">I am looking for a specific book</span>
                        </div>
                        <div class="span6">
                            @using (Html.BeginForm("List", "Books", FormMethod.Post))
                            {

                                <div class="row">
                                    <div class="span4  ">@Html.TextBox("searchQuery", "", new { placeholder = "Search by Title or ISBN" })</div>
                                    <div class="span2">
                                        <input type="submit" value="Search" class="btn" id="SearchButton" /></div>
                                </div>
                            }
                        </div>
                        <div class="span1"><a href="#" onclick="toggleDiscoveryMenu()"><i class="icon-arrow-up"></i>Hide</a></div>
                    </div>
                </div>
            </div>
    </header>
    <div id="body">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @if (TempData["flashError"] != null && !TempData["flashError"].ToString().IsEmpty())
            {

                <div class="alert alert-error">@TempData["flashError"]</div>
            }
            @if (TempData["flashSuccess"] != null && !TempData["flashSuccess"].ToString().IsEmpty())
            {

                <div class="alert alert-success">@TempData["flashSuccess"]</div>
            }
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
