@using BookWorm.Models
@using BookWorm.Models.Validations
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/markdown")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</head>
    <body>
        <div id="fb-root"></div>
      
        <div class="row-fluid header">
            <div class="row-content">
                <div class="span5">
                    <div class="row-fluid hand-cursor brand-area" onclick="window.location.href = '/'">
                        <div class="span2">
                            <div class="some-small-space"></div>
                            <img src="/Images/logo.png" alt="PUKU Logo" />
                        </div>
                        <div class="span9">
                            <h1>PUKU</h1>
                            <strong>Childrens Literature in Southern Africa</strong>
                        </div>
                    </div>
                </div>
                <div class="span1"></div>
                <div class="span6" style="padding-top: 22px;">
                    @Html.Partial("_Navigation")
                </div>
            </div>
        </div>
        <div id="body">
            <div class="row-fluid gray-body-row" id="discovery_menu" style="display: none;">
                <div class="row-content">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span3">
                                <p class="lead">
                                    <i class="icon-th-large"></i> Choose from a
                                    <br>
                                    <strong>category</strong> to see
                                    <br>
                                    books:
                                </p>
                            </div>
                            <div class="span2 categories">
                                <h4>Languages</h4>
                                <ul class="no-list-style">
                                    @foreach (var language in ValidLanguage.ValidLanguages)
                                    {
                                        <li>@Html.ActionLink(language, "Language", "Books", new { language }, null)</li>
                                    }
                                </ul>
                            </div>
                            <div class="span2 categories">
                                <h4>Age Range</h4>
                                <ul class="no-list-style">
                                    @foreach (var agerange in ValidAgeRange.ValidAgeRanges)
                                    {
                                        <li>@Html.ActionLink(agerange, "AgeRange", "Books", new { agerange }, null)</li>
                                    }
                                </ul>
                            </div>
                            <div class="span3 categories">
                                <h4>Genre</h4>
                                <ul class="no-list-style">
                                    @foreach (var genre in ValidGenre.ValidGenres)
                                    {
                                        <li>@Html.ActionLink(genre, "Genre", "Books", new { genre }, null)</li>
                                    }
                                </ul>
                            </div>
                            <div class="span1"><a href="#" onclick="toggleDiscoveryMenu()"><i class="icon-minus-sign"></i> Hide</a></div>
                        </div>
                        <div class="some-small-space"></div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span class="lead"><i class="icon-search"></i> I am looking for a specific book</span>
                            </div>
                            <div class="span7">
                                @using (Html.BeginForm("List", "Books", FormMethod.Post))
                                {
                                    <div class="row-fluid">
                                        <div class="span7">@Html.TextBox("searchQuery", "", new { placeholder = "Search by Title or ISBN" })</div>
                                        <div class="span2">
                                            <input type="submit" value="Search" class="btn" id="SearchButton" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @RenderSection("featured", required: false)
            @if (TempData["flashError"] != null && !TempData["flashError"].ToString().IsEmpty())
            {
                <div class="alert alert-error">@TempData["flashError"]</div>
            }
            @if (TempData["flashSuccess"] != null && !TempData["flashSuccess"].ToString().IsEmpty())
            {
                <div class="alert alert-success">@TempData["flashSuccess"]</div>
            }
            @RenderBody()
        </div>
        <div class="row-fluid footer">
            <div class="row-content">
                <div class="span8">
                    <p>&copy; @DateTime.Now.Year</p>
                </div>
                <div class="span4 pull-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        @RenderSection("scripts", required: false)
        <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7703312-43']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>s
    </body>
</html>
