@using BookWorm.Models

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Books", "List", "Books", null, new { id = "BooksMenuLink" })</li>
        <li><a href="#" onclick="toggleDiscoveryMenu()">Search</a></li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Pages", "List", "Pages", null, new { id = "PagesMenuLink" })</li>
        <li>
                                    
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        @foreach (StaticPage page in ViewBag.StaticPages)
        {
            <li>
                @Html.ActionLink(page.Title, "Details", "Pages", new { id = page.Id }, null)
            </li>
        }
        </ul>
    </div>
        </li>
    </ul>
</nav>